<!DOCTYPE html>
<html>
<head>
  <title>TT Score App</title>
</head>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>

<div id="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/matches">Matches</a></li>
  </ul>
</div>

<%= yield %>


</body>
</html>