<div id="content">

  <h1>Record a match:</h1>

  <form action="/matches" method="post">

  <label for="player_winner">Winner:</label>
  <select name = 'player_winner'>
    <% @players.each do |each| %>
    <option value="<%= each.id %>">
      <%= each.name %>
    </option>
    <% end %>
  </select>

  <input type="number" name="winner_points">Points</input>

  <hr>

  <label for="player_looser">Looser:</label>
  <select name = 'player_looser'>
    <% @players.each do |each| %>
    <option value="<%= each.id %>">
      <%= each.name %>
    </option>
    <% end %>
  </select>

    <input type="number" name="looser_points">Points</input>


  <input type='submit' value="Submit">

  </form>

</div>
