@import url(https://fonts.googleapis.com/css?family=Aldrich);

* {
  /*border: 1px solid black;*/
  font-family: 'Aldrich', sans-serif;
}

#navbar {
  list-style: none;
}

#navbar ul li {
  display: inline;
}

#content {
  background-color: wheat;
  margin: 20px;
}